
/* ----------------
  |      Nav         |
  -------------------*/
  
  nav {
    background-color: rgb(251, 251, 251);
    position: fixed;
    border-bottom: solid 0.9px #8ccfe8;
  }
    
    nav ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    nav ul li{
    margin: 0px 40px;
    }




.card1{
    width: 350px;
    height: 430px;
    margin: 10px;
    margin-top: 15px;
    margin-left: 120px;
    transition: all 300ms;
    background-color:#E6F4F1;
    border-radius: 8px;
   
  }


  .cardscontenedor{
    display: flex;
    flex-wrap:wrap;
  
  }


.card1 img{
    width: 330px;
    height: 250px;
    margin: 10px;
    align-items: center;
}



.col1{
    max-width: 1500px;
    margin: 50px;
    margin-top: 40px;
    position: relative;
    flex-wrap: wrap;
  }
  
  .row1{
    position: relative;
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 10px;
    
   
    
  }


  .card-body{
    margin-left: 20px;
  }


  

  .btn1{
    margin-left: 250px;
    color: black;

  }



  @media screen and (max-width:1439px) {

    .card1{
        width: 300px;
        height: 378px;
        margin: 10px;
        margin-top: 15px;
        margin-left: 30px;
        transition: all 300ms;
        background-color:#E6F4F1;
        border-radius: 8px;
       
      }
    
    
      .cardscontenedor{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    
        
       
      
      }
    
    
    .card1 img{
        
        width: 280px;
        height: 200px;
        margin: 10px;
        align-items: center;
    }
    
    
    .btn1{
        margin-left: 200px;
        text-decoration: none;
    
      }
    

  }



  @media screen and (max-width:1281px) {

    .card1{
    width: 300px;
    height: 378px;
    margin: 10px;
    margin-top: 15px;
    margin-left: 30px;
    transition: all 300ms;
    background-color:#E6F4F1;
    border-radius: 8px;
   
  }


  .cardscontenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;

    
   
  
  }


.card1 img{
    
    width: 280px;
    height: 200px;
    margin: 10px;
    align-items: center;
}


.btn1{
    margin-left: 200px;
    text-decoration: none;

  }


  }