/* ----------------
|      Variables   |
-------------------*/
:root {
    /*Colors*/
    --color-one: #0049B4;
    --color-two: #6495ED;
    --color-three: #E6F4F1;
    --color-four: #EEE8A9;
    /*more*/
    --main-color: #f2debb;
    --primary-color: #c4c4c4;
    --secondary-color: #f9f9f9;
}


/* ----------------
|      Reset       |
-------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------
|   Main Styling   |
-------------------*/

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 18px;
}

h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

hr{
width: 80%;
}
/* ----------------
|      Nav         |
-------------------*/

nav {
  background-color: white;
  position: fixed;
}

nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li{
  margin: 0px 40px;
}

/* ----------------
|      Header      |
-------------------*/

header {
background: url('../assets/background.jpg');
text-align: center;
width: 100%;
height: auto;
background-size: cover;
background-attachment: fixed;
position: relative;
overflow: hidden;
border-radius: 0 0 85% 85% / 25%;
}

header .overlay{
width: 100%;
height: 100%;
padding: 50px;
color: #FFF;
text-shadow: 1px 1px 1px #333;
background-image: linear-gradient( 135deg, #0048b465 10%, #6494ed63 100%);

}

h1 {
margin-bottom: 30px;
}

h2, p {
margin-bottom: 30px;
}

.btn-about {
border-radius: 10px;
  border-color: var(--color-one);
outline: none;
padding: 10px 20px;
color: var(--color-one);
background: #fff;
margin-bottom: 50px;
box-shadow: 0 3px 20px 0 #0000003b;
}
.btn-about :hover{
cursor: pointer;
  color: white;
  background-color: #0049B4;
}


/* ----------------
|   About us page   |
-------------------*/

/* Valores, Misión y Visión */
.mision {
text-align: center;
}

/* Tarjetas de participantes */

.title-team {
margin-top: 50px;
margin-bottom: 50px;
text-align: center;

}

.bodyColor{
background-color: black;
}

#img1, #img2, #img3, #img4, #img5, #img6, #img7{
    
    width: 150px;
    height: 150px;
    /* border-radius: 25px 0 15px 50px; */
    box-shadow: 3px 3px 3px 2px rgba(20, 10, 213, 0.2);
    border-radius: 75px;
 
}

.card-title{
  color: var(--color-one);
  font-weight: bold;
  font-size: 32px;
}

.flip-card {
  background-color: transparent;
  width: 500px;
  height: 210px;
  border-radius: 20px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  background: var(--color-three);
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, .7), 0 17px 17px 0 rgba(0,0,0,.5);
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* .flip-card-front {
 
  color: white;
} */

.flip-card-back {
  
  background-color: var(--color-two);
  padding-top: 30px;
  color: white;
  transform: rotateY(180deg);
  border-radius: 20px; 
}


i{
  
 width: 100px;
  color: white;
 
}

i:hover{
  color: black;
}


.card2{
  padding-left: 800px;
    
} */



.Right{
  float: right;
  margin-bottom: 100px;

}

@media screen and (max-width:800px)  {
 .card2 {
  
    padding:50px 0px 50px  0px;
  }
}



.btn-form {
  align-items: flex-end;
}


#nombre_id, #email_id, #telefono_id, #mensaje_id{
  background-color: #E6F4F1;
}

#rowContainer{
  opacity: 1;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

@media screen and (max-width: 767px) {
  .container .footer{
      display: grid;
    }
  }

  #idContactanos{
    text-align:center;
    color:var(--color-two);
  }

  #imgTest{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    padding: 30px;
  }


  /*
  Establezco el valor del boton en display y block, para que abarque todo el ancho disponible
  y el margin en auto para centrarlo de forma horizontal al contonedor
  */

  button#btnEnviar {
    display: block;
    margin: auto;
  }

  /*
  Añado un padding al valor por defecto en una PC en el formulario
  */
  #formTest{
    padding-right: 30px;
  }

  /*
 Esto hará que la imagen se ajuste 
 al ancho y al alto del contenedor sin distorsión y mantenga su 
 proporción de aspecto original cuando la pantalla tenga un ancho de menos de 768px.

 El display flex en el rowContainer es una regla para el contenedor padre
 y con la propiedad flex-direction:colum indico que los elementos 
 se deben apilarse en columnas en lugar de filas y así hago el efecto de que la imagen
 se coloque encima del formulario en dispositivos pequeños

 En el #imgTest la propiedad order -1 se mostrara antes que el elemento que tenga order 1
 en este caso el formulario
 El max-width 100% permite que la imagen se ajuste al ancho del contenedor,
 y para que tenga su proporcion original uso el height:auto y para que no se distorcione
 uso el object-fit: contain
  */

  @media (max-width: 768px) {
    #rowContainer {
      display: flex;
      flex-direction: column;
    }
  
    #imgTest {
      order: -1;
      max-width: 100%;
      height: auto;
      object-fit: contain;
      padding: 30px;
    }
  
    #formTest{
      order: 1;
      padding: 30px;
      
    }
    
    /*
    Los dos puntos  "::" en esta parte significa que le estoy dando un estilo a una 
    parte en especifico que es el placeholder del input, y con el text-aling:left
    hago que las letras del placeholder se vayan al inicio del label. 
    */
    input::placeholder {
      text-align: left;
    }
    
  }